
.snackbar {
  visibility: hidden;
  min-width: 250px;
  background: #323232;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 14px;
  position: fixed;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 9999;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.4s ease, visibility 0.4s;
}

.snackbar.show {
  visibility: visible;
  opacity: 1;
}